# arquivos auxiliares tex
*.aux
*.fls
*.ilg
*.log
*.synctex.gz
*.fdb_latexmk

# arquivos vscode
.vscode/
*.code-workspace

#outros
figuras/__pycache__
*.ini

#arquivo principal
anotacoes.tex
anotacoes.pdf
