# arquivos auxiliares tex
*.aux
*.fls
*.ilg
*.log
*.synctex.gz
*.fdb_latexmk
*.toc
*.bbl
*.blg

# arquivos vscode
.vscode/
*.code-workspace

#outros
figuras/__pycache__
*.ini

# arquivo principal
anotacoes.tex
anotacoes.pdf
relatorio.tex
relatorio.pdf
relatorio.out
figuras/Assinaturas.png
